@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie List";
}

<h2>Movie List of Indextrous Proportion</h2>

<p>We offer you greetings and good tidings, friend.</p>
